{{define "nav"}}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li>
                    <a href="/">儀表板</a>
                </li>
                <li>
                    <a href="/campaigns">社交工程演練排程</a>
                </li>
                <li>
                    <a href="/groups">受測清單</a>
                </li>
                <li> <a href="/templates">Email 樣板</a>
                </li>
                <li>
                    <a href="/landing_pages">模擬登入頁面</a>
                </li>
                <li>
                    <a href="/sending_profiles">郵件發送配置</a>
                </li>
                <li>
                    <a href="/settings">帳戶設定</span></a>
                </li>
                {{if .ModifySystem}}
                <li>
                    <a href="/users">帳戶管理<span class="nav-badge badge pull-right">Admin</span></a>
                </li>
                <li>
                    <a href="/webhooks">Webhooks<span class="nav-badge badge pull-right">Admin</span></a>
                </li>
                {{end}}
                <li>
                    <hr>
                </li>
                <li>
                    <a href="https://docs.getgophish.com/user-guide/">使用者指南</a>
                </li>
                <li>
                    <a href="https://docs.getgophish.com/api-documentation/">API Documentation</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{{end}}